.tablesContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.dataAccess {
    border: 2px solid $energicOrange;
    border-radius: 12px;
    margin-bottom: 2%;
    padding: 2% 2%;

    &__info {
        font-weight: bold;
        font-style: italic;
    }
}

.dataAccessBox{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media  screen and (max-width: 768px) {
    .dataAccessBox {
        flex-direction: column;
    }
}

.dataLink {
    color: $energicOrange;
    text-decoration: underline;
}
