<footer class="footerContainer">
    <div class="footerContent">
        <div class="infoContainer">
            <div class="logo">
                <a class="logo__a" href="index.html">
                    RT-WMIS<span class="logo__subtitle">Project</span>
                </a>
            </div>

            <div class="footerInfo">
                <h2 class="footerInfo__h2">Links</h2>
                <a
                    class="footerInfo__a footerLink"
                    href="https://gage.upc.edu/en"
                    target="_blank"
                    rel="noopener"
                    >gAGE UPC</a
                >
                <a
                    class="footerInfo__a footerLink"
                    href="https://server.gage.upc.edu/iono4has/"
                    target="_blank"
                    rel="noopener"
                    >IONO4HAS</a
                >
            </div>

            <div class="footerInfo">
                <h2 class="footerInfo__h2">Contact</h2>
                <ul class="footerInfo__ul">
                    <li class="footerInfo__li">Email address</li>
                    <li class="footerInfo__li">Street address</li>
                    <li class="footerInfo__li">Phone number</li>
                </ul>
            </div>

            <div class="footerInfo">
                <nav class="footerNav" aria-label="Main Navigation">
                    <h2 class="footerInfo__h2">Our Project</h2>
                    <ul class="footerNav__ul">
                        <li class="footerNav__li">
                            <a class="footerNav__a footerLink" href="index.html"
                                >Home</a
                            >
                        </li>
                        <li class="footerNav__li">
                            <a
                                class="footerNav__a footerLink"
                                href="network.html"
                                >Network</a
                            >
                        </li>
                        <li class="footerNav__li">
                            <a
                                class="footerNav__a footerLink"
                                href="methodology.html"
                                >Methodology</a
                            >
                        </li>
                        <li class="footerNav__li">
                            <a
                                class="footerNav__a footerLink"
                                href="monitoring.html"
                                >Monitoring</a
                            >
                        </li>
                        <li class="footerNav__li">
                            <a
                                class="footerNav__a footerLink"
                                href="data_products.html"
                                >Data Products</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="footerInfo">
                <h2 class="footerInfo__h2">More about gAGE</h2>
                <ul class="footerInfo__ul">
                    <a
                        href="https://gage.upc.edu/en/publications"
                        class="footerInfo__a footerLink"
                        target="_blank"
                    >
                        <li class="footerInfo__li">Publications</li>
                    </a>
                    <a
                        href="https://gage.upc.edu/en/projects"
                        class="footerInfo__a footerLink"
                        target="_blank"
                    >
                        <li class="footerInfo__li">Projects</li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="decorline decorline--footer"></div>

        <div class="footerDescription">
            <img
                src="./assets/images/esa_logo.png"
                alt="ESA Logo"
                class="footerDescription__logo"
            />
            <p class="footerDescription__text">
                RT-WMIS is an ESA-funded project conducted under the framework
                of the Open Space Innovation Platform (OSIP), aimed at
                delivering real-time, global monitoring products for ionospheric
                scintillation.
            </p>
            <img
                src="./assets/images/gage_logo.png"
                alt="Other Organization Logo"
                class="footerDescription__logo"
            />
        </div>

        <div class="footerCopy">
            <p class="footerCopy__p">
                &copy; Built by Nicolas Orlando Moncada Herrera
            </p>

            <p class="footerCopy__p">Policy</p>
        </div>
    </div>

    <div class="footerBackgroundImage"></div>
</footer>
